body {
    background-color: white;
    color: black;
  }
  .btn {
    width: 0%;
    padding: 12px 28px;
  }

  li {
    text-align: left;
    width: 10%;
    float: left;
  }
form {
    text-align: center; 
    margin-bottom: 20px;
    /* left: 50%;
    margin-left: -80%;
    position: absolute; */
}
input {
    border-radius: 25px;
}
