form.signup,
form.login {
  margin-top: 50px;
}
body {
  background-image: url("../img/loginpage2.png");
  background-color: #cccccc;
  /*background-repeat: no-repeat;*/
  /*background-size: 202px;*/
}
.container {
  background-color: lightgrey;
  width: 200vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 0px 2px 12px 0px;
}

input, label {
  color: black;
  font-weight: bold;
}

